/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
* {
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.hide {
  display: none;
}
/******************************************
/* ADDITIONAL STYLES
/*******************************************/
